extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Anelle Mensah
        p Full Stack JavaScript Developer

        .about-bio
          p I'm an aspiring junior software engineer with a strong foundation in web development. I'm proficient in HTML, CSS, and JavaScript, ensuring I can craft beautiful and interactive user interfaces. Collaboration is in my DNA, as I'm experienced in project management tools like JIRA and Confluence, making teamwork a breeze. I'm adaptable and organized, proficient in content management platforms like GatherContent and project tracking using Smartsheet. I'm excited to contribute my skills and enthusiasm to a dynamic team and help create innovative web solutions. Let's build the future of the web together!

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li JIRA
          li Confluence
          li GatherContent
          li Smartsheet

        h6 Contact Info
        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='http://linkedin.com/in/anellem' target="_blank") LinkedIn
        br
        a.btn-link(href='https://github.com/anmedev' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back