extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio
    p Welcome! This portfolio contains some info about me and the cool projects I've completed through the Treehouse Techdegree!


  article.portfolio-project-thumbs
    .projects-box.box.grid

    each project in projects
      .cell
        a(href=`/projects/${project.id}`)
          img.thumbnail(src=`${project.image_urls[0]}`, alt="A photo of each project I completed for the Treehouse Techdegree.")
          h5= project.project_name